
<div class="signIn">
    <form (ngSubmit)="submit()">
        <h1>SING UP</h1>

        <div class="firstName">
            <input type="text" id="firstName" [(ngModel)]="registerDto.firstName" name="firstName" required>
            <label for="firstName">First Name</label>
        </div>
        <div class="lastName">
            <input type="text" id="lastName" [(ngModel)]="registerDto.lastName" name="lastName" required>
            <label for="lastName">Last Name</label>
        </div>
        <div class="email">
            <input type="email" id="email" [(ngModel)]="registerDto.email" name="email" required>
            <label for="email">Email</label>
        </div>
        <div class="phone">
            <input type="number" id="phone" [(ngModel)]="registerDto.phone" name="phone" required>
            <label for="phone">Phone</label>
        </div>
        <div class="userName">
            <input type="text" id="userName" [(ngModel)]="registerDto.username" name="username" required>
            <label for="userName">Username</label>
        </div>
        <div class="password">
            <input type="password" id="password" [(ngModel)]="registerDto.password" name="password" required>
            <label for="password">Password</label>
        </div>
        <div class="div-btn">
            <button class="submit" type="submit">Sign Up</button>
        </div>
    </form>

    <div class="toogle-left">
        <br>
        <button class="back" [routerLink]="['/home']"><span><i class="pi pi-home"></i></span>Go Home</button>
        <div class="icon">
            <img src="assets/layout/login/undraw_agreement_re_d4dv.svg">
        </div>
    </div>
</div>
