<div class="section-header">
    <h2 class="section-title">Gestion Optimisée</h2>
    <div class="section-underline"></div>
</div>
<div class="framework flex flex-row justify-content-center align-items-center">

    <img src="assets/layout/preload/stock2.jpg" alt="Image" class="framework-image">
    <div class="framework-text">
        <p>Ce système vise à améliorer l'efficacité de la gestion des ressources
        et des équipements pédagogiques en offrant des solutions technologiques intégrées.
        L'application permet un suivi précis et organisé des produits et des stocks,
        facilitant ainsi les opérations d'ajout, de modification et de suppression.
        Elle offre également la possibilité de surveiller les quantités disponibles et
       d'alerter l'administration en cas de besoin de réapprovisionnement,
            garantissant ainsi la continuité des activités éducatives.
       Avec une interface simple et conviviale, cette application propose une méthode efficace pour
        gérer les ressources et assurer la transparence dans toutes les opérations liées au stock.</p>
    </div>
</div>
